name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
    - name: Get the code
      uses: actions/checkout@v6.0.1
    - name: Docker Hub Authentication
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build Image Docker
      uses: docker/build-push-action@v6
      with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          tags: | 
            martinsgabriel1956/first-pipeline:v${{ github.run_number }} 
            martinsgabriel1956/first-pipeline:latest

